html {

    font-family: "'Comic Sans MS', 'Chalkboard SE', 'Comic Neue'";
    text-align: center;
}

body{

    margin: 0;
    background-color: blue;
}

/*DO NOT ADD ul ATTRIBUTE, BREAKS MENUBAR*/
.menu-bar{
    width: 1024px;
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #f39e27;
    display: block;
    justify-content: center;
}

.menu-bar li{
    float: left;
}

.menu-bar a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu-bar a:hover{
    background-color: #f2930f;
}

.container{

    width: 750px;
    margin: auto;
    padding: 10px;
    border: black 3px solid;
    background-image: url(/images/minecraft_water.webp);
}

a {

    color: black;
    text-align: center;
}

table {

    background-color: #f39e27;
}

button {

    background-color: #f39e27;
}
